body { padding-top:50px; }

#content-views { position:relative; }

.ng-enter, .ng-leave { width:100%; position:absolute; }

.ng-enter {
	-webkit-animation:slideInLeft 0.5s;
	-moz-animation:slideInLeft 0.5s;
	animation:slideInLeft 0.5s;
}
.ng-leave {
	-webkit-animation:slideOutRight 0.2s;
	-moz-animation:slideOutRight 0.2s;
	animation:slideOutRight 0.2s;
}