<head>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>

 <div class = "container"> <!--col-md-10 col-md-offset-1">-->
 
	<table>
		<th>
		</th>
		<th>
		</th>
		<tr>
			<td width = "60%">
				<h3 align = "justify">

					Guatemalan musician Hector Perez is a creator of expressive electronic tracks. He has a passion for 8-bit sounds, and chiptunes.  

				</h3 > 
				<h3 align = "justify">
					For Hector, arcade-like sounds are reminiscent of his childhood and nostalgia pushes him to learn how to recreate them. Some of his influences are Coldplay, Muse, Radiohead, and Sting and the Police. 

					Hector is currently in the third year of an undergraduate degree on Computer Science and Music at the University of Victoria.
				</h3>
				<h3  align = "justify">
					In Guatemala, he completed a short internship with audio engineer Jorge Garavito, in which he learned different aspects of managing a small studio.

					<br><br>
					
					He is featured on SoundCloud as ‘LeHector’, and is working on the release of a new album ‘The Dark Side of The Spoon’ by mid-June 2017.
					
					Hector enjoys improvising on the guitar and the keyboard.
				
				</h3>
				
			</td>
			<td witdh = "10%">
			</td>
			<td witdh = "30%">
				<img src = "hectorFace4.jpg" class = "img-responsive"></img>
			</td>
		</tr>
	</table>

	<h2 align = "center"> <a href = "recent_projects.html"><strong>Read</strong></a> about Hector's Projects</h2>
	<h2 align = "center"> <a href = "recent_projects.html"><strong>Read</strong></a> about Hector's expertise.</h2>
	
	<script>
	w3IncludeHTML();
	</script>
	
</div>
