<head>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>

<div class = container>
	 <div class = "container">
		<div w3-include-html="_carousel.html"></div>
	 </div>
	 

	<div class = "container col-md-10 col-md-offset-1">
		<br>

	<h3 align = "justify">Hector is a student of Computer Science
	and Music at the University of Victoria in British
	Columbia, Canada. He has experience in audio recording,
	mixing, and edition. His recent projects have been two short 
	films, for which he created a music score and recorded location 
	audio. Hector enjoys playing the guitar and creating music.
			
	<h3 align = "justify">Hector has knowledge of various Digital Audio Work 
	Stations, such as Logic, Pro Tools and Reaper.
	</h3>
		
	</div>
	 
	 
	<div class = "container col-md-10 col-md-offset-1">
	<br>
	<br>

		 <table class = "table" border = "0">
			<tr>
				<td align = "center">
				  <h2>LeHector's SoundCloud</h2>
				  <a href = "https://soundcloud.com/hectorandresperez">
					<img src = "soundcloud.png" class = "img-circle" height = "200" width = "200"></img>
				  </a>
				</td>
				<td align = "center">
				  <h2>LeHector's BandCamp</h2>
				  <a href = "https://lehector.bandcamp.com/">
					 <img src = "bandcamp.png" class = "img-circle" height = "200" width = "200"></img>
				  </a>
				</td>
			</tr>
		 </table>
	 </div>
	 
	<script>
	w3IncludeHTML();
	</script>

<div>