<head>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>

<div class = "container">
 
	<table>
		<th></th>
		<th></th>
		<tr>
			<td width = "50%">
					<h3 align = "justify">
					Hector is on the third year of his undergraduate degree in Computer Science and Music                                                 
					at the University of Victoria.                        
					</h3>

					<h3 align = "justify">
					He has practical and theoretical knowledge of sound recording, mixing, and editing.  

					Hector is interested in the theory behind the creation of audio effects, and in digital
					signal processing.
					</h3>

					<h3>Hector has:</h3>

					<ul>
						<li><h3>Planned and executed successful recording sessions</h3></li>
						<li><h3>Collaborated with other creative artists</h3></li>
						<li><h3>Prepared to solve technical issues promptly</h3></li>

					<br>
						<li><h3>Adjusted audio files as needed</h3></li>
						<li><h3>Developed good relationships with collaborators</h3></li>
						<li><h3>Ensured equipment proper and safe use</h3></li>
					</ul>	
						
					<br>

					<h3 align = "justify">
					Hector learned about stereo recording techniques from Kirk McNally.
					With McNally, Hector practiced using different microphone configurations
					such as ORTF and the MS (mid-side) technique. 
					</h3>
			</td>
			<td width = "10%">
			</td>
			<td width = "40%">
				<a href = "magazine.jpg" >
					<img src = "magazine.jpg" class = "img-responsive">
				</a>
				<p align = "center"> This is a magazine post for Hector when he was back in Guatemala. 
				Click on the image for bigger resolution.</p>
			</td>
		</tr>
		<tr>
			<td width = "50%">
				<a href = "studio.jpg">
				   <img src = "studio.jpg" class = "img-responsive">
				</a>
				<p align = "center">This is the UVic studio where CMCU students gather or work on their projects.
				Click on the image for better resolution.<p> 

				<Br>
				<a href = "microphoneMS.png">
				   <img src = "microphoneMS.png" class = "img-responsive">
				</a>
				<p align = "center">This is the MS disposition for a stereo recording, using a bipolar mic and a cardiod mic.
				Click on the image for better resolution.<p> 
			</td>
			<td width = "10%">
			</td>
			<td width = "40%">
				<h3>
				In the summer of 2014, in Guatemala, Hector completed an internship with 
				recognized recording artist Jorge Estrada Garavito.
				<br><br>
				Hector has learned about different audio effects one can use to increase the quality
				of recordings, such as equalizers, filters, compressors, etc. He has also learned
				in the computer music classes about digital audio (from Andrew Schloss) and signal 
				processing (from Peter Driessen). 
				<br><br>
				Hector is currently learning about music information retrieval with George Tzanetakis.
				In this course, students learn about audio features, and how they can be extracted
				with signal processing and machine learning techniques.
				</h3>

				<h3 align = "justify">
				Hector has recently contributed to two short  films - 'Piano Girl', and 'Knot For Sale'.
				He recorded audio for these as well as created a musical score for them. <br><br> You can find more
				information about these projects <a href =  "recent_projects.html"><strong>HERE</strong></a>.
				</h3>

				<h3 align = "justify">
				Hector is a Member of the CMCU - Students union for the Combined Computer Science and Music Program.
				He has collaborated with the organization of "Track Day" activities, where a song by a local band 
				is recorded, and mixed.
				</h3>
			</td>
		</tr>
	</table>
		
	<script>
	w3IncludeHTML();
	</script>	
</div>