<head>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>

<div class = "container">
 
	<pre><h2 align = "justify"><kbd>'Piano Girl'</kbd> - collaboration with Emily Carr School of Art</h2></pre>
	<table border = "0">
		<th>
			<!--<h1>Piano Girl</h1>-->
		</th>
		<th>
			<p></p>
		</th>
		<tr>
			<td width = "50%">
				 <!--<div class = "container">-->
					<div w3-include-html="_carouselPianoGirl.html"></div>
				 <!--</div>-->
			</td>
			<td width = "50%">
				<h4 align = "justify"> Hector is collaborating on the short film 'Piano Girl' with Lindsey Ashton and Rina Chang from the Emily Carr School of Art in Vancouver.
				<br><Br>The short film is about 'Effy Sharp' - a pianist who desires to play jazz music in spite of her father's opposition. <br><br> Hector created the sound design and the 
				musical score for this short film. It will be finished by the 10th of april of 2017.
				</h4>
				<br><br>
				<h4>Click <a href = "https://luluplusnana.wordpress.com/author/luluplusnana/">here </a> for the animator's blog! </h4>
				
			</td>
		<tr>
	</table>
	 
	 <br><br><br><br>
	 
	  <pre><h2 align = "justify"><kbd>'Knot For Sale'</kbd> short film with Maureen Bradley</h2></pre>
	  
	 <table>
		<th>
			<!--<h1>Knot For Sale</h1>-->
		</th>
		<th>
			<p></p>
		</th>
		<tr>
			<td width = "50%">
				<div w3-include-html="_carouselKnotForSale.html"></div>
			</td>
			<td width = "50%">
				<h4 align = "justify">As part of Maureen Bradley's production workshop in the term of Sept-Dec of 2016, Hector recorded location audio for the short film 'Knot For Sale'.
				 <br><br>He also created the musical score for it.<Br><br>The plot of the short centers on Stacy, a girl scout who can't get
				 anybody to buy her cookies. Stacy decides to try an unorthodox strategy, which enables her to improve her sales.
				 </h4>
				 <br><br>
				 <h4>
				 Click <a href = "https://twitter.com/KnotForSaleFilm " >here</a> for the twitter blog of the short film!
				</h4>
			</td>
		<tr>
	</table> 

	<br><br><br><br>

	<pre><h2 align = "justify">Audio Recording for <kbd>'Track Days'</kbd></h2></pre>
	 
	 
	 <table>
		<th>
		</th>
		<th>
			<p></p>
		</th>
		<tr>
			<td width = "50%">
				<div w3-include-html="_carouselTrackDays.html"></div>
			</td>
			<td width = "50%">
				<h4 align = "justify">Hector has participated in various 'Track Day' activities, for which students from the CMCU (computer course union)
				get together and record a band. <Br><br> The images shown here are of the Track Day when the band Malahat came to the University to record 
				one of their songs.
				</h4>		
							<br><br>
			
				<h4>Click <a href = "https://www.youtube.com/watch?v=GIUHRtYtj3s"> here</a> for a Youtube video of the event!</h4>

			</td>
		<tr>
	</table>
	 
	<br><br><br><br>
	 
	  <pre><h2 align = "justify">Audio Recording for <kbd>'2500 Km'</kbd> Short film</h2></pre>
	  
	  <table>
		<th>
		</th>
		<th>
			<p></p>
		</th>
		<tr>
			<td width = "50%">
				<div w3-include-html="_carousel2500.html"></div>
			</td>
			<td width = "50%">
				<h4 align = "justify"> Hector and his sister Anette collaborated with Daniela Arguello (Twenty Four Productions), on her short film '2500 Km.'
				<Br><Br> The short film was recorded in Guatemala, during the summer of 2015. <Br><Br> This film tries to depict intermarital abuse, 
				and the hardships of a woman escaping it together with her two childs, in hope of a better life in America. <Br><Br> The short was used as a pitch 
				for a larger series, which would show the story in greater detail. Recently, it has been announced that the series will be on HBO and 'HBO Now'.
				</h4>
				<br><br>
				
				<h4>Click <a href = "https://www.facebook.com/2500shortfilm/"> here</a> for the facebook page of this short film!
				
				</h4>		
			</td>
		<tr>
	</table>

	<script>
	w3IncludeHTML();
	</script>
	
 </div>